# Team 3 - Kickstarter

![](https://a.kickstarter.com/assets/site/social/og-kickstarter-social-d58bfe030adf82001e25d3f7015eedb8ab84bc4bf9eeeeede5f8d8b0d02d641a.png)

_For more information about the dataset, read [here](https://www.kaggle.com/kemical/kickstarter-projects)._

## Your tasks
- Name your team!
- Read the source and do some quick research to understand more about the dataset and its topic
- Clean the data
- Perform Exploratory Data Analysis on the dataset
- Analyze the data more deeply and extract insights
- Visualize your analysis on Google Data Studio
- Present your works in front of the class and guests next Monday

## Submission Guide
- Create a Github repository for your project
- Upload the dataset (.csv file) and the Jupyter Notebook to your Github repository. In the Jupyter Notebook, **include the link to your Google Data Studio report**.
- Submit your works through this [Google Form](https://forms.gle/oxtXpGfS8JapVj3V8).

## Tips for Data Cleaning, Manipulation & Visualization
- Here are some of our tips for Data Cleaning, Manipulation & Visualization. [Click here](https://hackmd.io/cBNV7E6TT2WMliQC-GTw1A)

_____________________________

## Some Hints for This Dataset:
- The format of `launched` column is not consistent with `deadline` column
- Can you calculate the duration of the projects?
- Some projects in `launched` and `deadline` columns have year = 1970, which is way before Kickstarter was born!
- And more...

In [0]:
# Start your codes here!
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [5]:
df = pd.read_csv('/content/gdrive/My Drive/03-kickstarter/kickstarter.csv')
df.sample(5)

                ID  ... usd_goal_real
335220   777703681  ...      30000.00
287917   534903130  ...      31109.04
15311   1077327402  ...       4400.76
78403   1398806367  ...       1250.00
88550   1450157092  ...      15000.00

[5 rows x 15 columns]

In [6]:
# Print out brief info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [0]:
df["launched"] = df.apply(lambda row: row["launched"].split(' ')[0], axis = 1)

In [9]:
df.sample(5)

                ID  ... usd_goal_real
287912   534886879  ...       3165.06
263675   410878379  ...      25000.00
21179   1107367686  ...      25000.00
251344   348425271  ...       6000.00
119055  1604793462  ...       1111.00

[5 rows x 15 columns]

In [0]:
df["launchedYear"] = df.apply(lambda row: int(row["launched"].split('-')[0]), axis = 1)
df["deadlineYear"] = df.apply(lambda row: int(row["deadline"].split('-')[0]), axis = 1)

In [11]:
df.sample(5)

                ID  ... deadlineYear
217252  2106803541  ...         2012
337479   789059918  ...         2011
340034   801959608  ...         2016
110101  1559453145  ...         2016
282764   508746115  ...         2015

[5 rows x 17 columns]

In [13]:
df[df["launchedYear"]==1970]

                ID  ... deadlineYear
2842    1014746686  ...         2010
48147   1245461087  ...         2010
75397   1384087152  ...         2010
94579   1480763647  ...         2010
247913   330942060  ...         2010
273779   462917959  ...         2010
319002    69489148  ...         2015

[7 rows x 17 columns]

In [0]:
df = df[df["launchedYear"]!=1970]

In [19]:
# from datetime import date
# date_string = df["deadline"][0]
# temp = date(*map(int, df["deadline"][0].split('-'))) - date(*map(int, df["launched"][0].split('-')))

KeyError: ignored