![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

###SQL

https://www.hackerrank.com/challenges/revising-the-select-query/problem

Query all columns for all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.

In [0]:
SELECT * from CITY WHERE POPULATION>100000 AND COUNTRYCODE='USA';

https://www.hackerrank.com/challenges/revising-the-select-query-2/problem

Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

In [0]:
SELECT name FROM city WHERE population>120000 AND CountryCode='USA';

https://www.hackerrank.com/challenges/select-all-sql/problem

Query all columns (attributes) for every row in the CITY table.

In [0]:
SELECT * FROM city;

https://www.hackerrank.com/challenges/select-by-id/problem
  
Query all columns for a city in CITY with the ID 1661.

In [0]:
SELECT * FROM city WHERE ID=1661;

https://www.hackerrank.com/challenges/japanese-cities-attributes/problem

Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

In [0]:
SELECT * FROM city WHERE countrycode='JPN';

https://www.hackerrank.com/challenges/japanese-cities-name/problem

Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

In [0]:
SELECT name FROM city WHERE countrycode='JPN';

https://www.hackerrank.com/challenges/weather-observation-station-1/problem

Query a list of CITY and STATE from the STATION table.

In [0]:
SELECT city, state FROM station;

https://www.hackerrank.com/challenges/weather-observation-station-3/problem

Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

In [0]:
SELECT DISTINCT city FROM station WHERE (mod(ID, 2) = 0);

https://www.hackerrank.com/challenges/weather-observation-station-4/problem

Let N be the number of CITY entries in STATION, and let N' be the number of distinct CITY names in STATION; query the value of N - N' from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [0]:
SELECT COUNT(city) - COUNT(DISTINCT city)
FROM station;

https://www.hackerrank.com/challenges/weather-observation-station-6/problem

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [0]:
SELECT DISTINCT city FROM station WHERE LEFT(city, 1)='a' OR LEFT(city, 1)='e' OR LEFT(city, 1)='i' OR LEFT(city, 1)='o' OR LEFT(city, 1)='u';

###Python

https://www.hackerrank.com/challenges/py-hello-world/problem

Here is a sample line of code that can be executed in Python:

print("Hello, World!")
You can just as easily store a string as a variable and then print it to stdout:

my_string = "Hello, World!"
print(my_string)
The above code will print Hello, World! on your screen. Try it yourself in the editor below!

Input Format

You do not need to read any input in this challenge.

Output Format

Print Hello, World! to stdout.

Sample Output 0

Hello, World!

In [10]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

https://www.hackerrank.com/challenges/py-if-else/problem

Task
Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  to , print Not Weird
If  is even and in the inclusive range of  to , print Weird
If  is even and greater than , print Not Weird

In [9]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    if(n % 2 == 1):
        print("Weird")
    else:
        if(n <= 5):
            print("Not Weird")
        elif (n <= 20):
            print("Weird")
        else:
            print("Not Weird")

3
Weird

https://www.hackerrank.com/challenges/python-arithmetic-operators/problem

Task
Read two integers from STDIN and print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [6]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a + b)
    print(a - b)
    print(a * b)

1
2
3
-1
2

https://www.hackerrank.com/challenges/python-division/problem

Task
Read two integers and print two lines. The first line should contain integer division,  // . The second line should contain float division,  / .

You don't need to perform any rounding or formatting operations.

In [5]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

4
3
1
1.3333333333333333

https://www.hackerrank.com/challenges/python-loops/problem

Task
Read an integer . For all non-negative integers , print . See the sample for details.

In [3]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i**2)

3
0
1
4

https://www.hackerrank.com/challenges/list-comprehensions/problem

In [4]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    print([ [i, j, k] for i in range(x + 1) for j in range(y+1) for k in range(z+1) if((i + j + k) != n)])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]